# Python Pandas Data Series: Exercises, Practice, Solution

In [1]:
import numpy as np
import pandas as pd

**1.1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.**

In [6]:
# solution for exercise 1.1.
pd.Series(range(1, 5))

0    1
1    2
2    3
3    4
dtype: int64

**1.2.Write a Pandas program to convert a Panda module Series to Python list and it's type.**

In [8]:
# solution for exercise 1.2.
a = pd.Series(range(1, 10))
print(a)

print('\n')

b = a.tolist()
print(b)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64


[1, 2, 3, 4, 5, 6, 7, 8, 9]

**1.3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.**

In [10]:
# solution for exercise 1.3.
a = pd.Series(
    np.random.randint(1, 50, 15)
)

b = pd.Series(
    np.random.randint(1, 50, 15)
)

print(a + b, '\n', 
      a - b, '\n', 
      a * b, '\n', 
      a / b)

0     51
1     64
2     74
3     51
4     62
5     53
6     62
7     23
8     55
9     33
10    55
11    50
12    15
13    41
14    19
dtype: int32
 0    -45
1     -6
2     18
3     35
4    -14
5     -1
6      4
7    -21
8     -5
9      3
10   -33
11    24
12    -9
13    25
14   -11
dtype: int32
 0      144
1     1015
2     1288
3      344
4      912
5      702
6      957
7       22
8      750
9      270
10     484
11     481
12      36
13     264
14      60
dtype: int32
 0     0.062500
1     0.828571
2     1.642857
3     5.375000
4     0.631579
5     0.962963
6     1.137931
7     0.045455
8     0.833333
9     1.200000
10    0.250000
11    2.846154
12    0.250000
13    4.125000
14    0.266667
dtype: float64

**1.4.Write a Pandas program to compare the elements of the two Pandas Series.**

In [11]:
# solution for exercise 1.4.
a = pd.Series(np.random.randint(1, 50, 25))
b = pd.Series(np.random.randint(1, 50, 25))

print(a == b, '\n',
     a >= b, '\n',
     a <= b, '\n',
     a > b, '\n',
     a > b)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool
 0      True
1     False
2     False
3      True
4      True
5      True
6     False
7      True
8     False
9      True
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19    False
20     True
21    False
22     True
23     True
24     True
dtype: bool
 0     False
1      True
2      True
3     False
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11     True
12     True
13     True
14    False
15    False
16    False
17     True
18     True
19     True
20    False
21     True
22    False
23    False
24    False
dtype: bool
 0      True
1     False
2     False
3      True
4      True
5      True
6     False
7      True
8     False
9      True
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19    False
20     True
21    False
22     True
23     True
24     True
dtype: bool
 0      True
1     False
2     False
3      True
4      True
5      True
6     False
7      True
8     False
9      True
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19    False
20     True
21    False
22     True
23     True
24     True
dtype: bool

**1.5.Write a Pandas program to convert a dictionary to a Pandas series.**

In [13]:
# solution for exercise 1.5.
a = {'First': 'Barcelona', 'Second': 'Madrid', 'Trird': 'Atletico'}

print(pd.Series(a))

First     Barcelona
Second       Madrid
Trird      Atletico
dtype: object